<!DOCTYPE html>

<html>
  <head>
    <title>Shawty</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
    <link href="./node_modules/hint.css/hint.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1 >Shawty 🐫 URL Shortner</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <input
              id="url_input"
              type="url"
              name="url"
              placeholder="Paste URL"
            />
            <div class="tooltip"><input id="submit" type="submit" value="🐪"><span class="tooltiptext">Shorten</span></input></div>
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
