html
  head
    title Shawty
    link(rel="icon" type="image/png" href="../public/favicon.ico")
    link(href='../../public/style.css' rel="stylesheet" type="text/css")

  body
    h1 Shawty 🐫 URL Shortener
    main
      section
        form
          fieldset
            input(id="url_input" type='url' value=id autocomplete="off")
            div(class="tooltip")
              input(id="submit" onclick="copyToClipboard()" value="📋")
              span(class="tooltiptext") Copy
    script.
      function copyToClipboard(){
        var copyText = document.getElementById("url_input");
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        document.execCommand("copy");
      }
